{% extends 'bank/base.html' %}
  {% block content %}
    <style>
    td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }
    </style>
      {% if all_acct %}
      <h1>Existing Accounts:</h1>
      <table>
        <tr>
            <th>Account Number</th>
        </tr>
      {% for acc in all_acct %}
      <tr>
        <td>{{acc.acct_no}}</td>
      </tr>
      {% endfor %}
    </table>
      {% endif %}
      <br>
      <h1>Your new account number is : {{acct_no}}</h1>
      <h1>Please enter your pin :</h1>
      <form method="post" autocomplete="off">
        {{ form1.as_p }}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' name="" value="Submit">
      </form>
  {% endblock %}